---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ChessThoughts</title>
	</head>
	<body>
		<h1>ChessThoughts</h1>
		<h2>a quiet place to think about chess</h2>

	</body>
</html>
