---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ChessThoughts</title>
	</head>
	<body id="home">
		<header id="bighead">
			<h1>ChessThoughts</h1>
			<h2>a quiet place to think about chess</h2>
		</header>
		<ul>
			<li><a href="/all">all</a></li>
			<li><a href="/authors">authors</a></li>
			<li><a href="/random">random thought</a></li>
			<li><a href="/about">about</a></li>
		</ul>
		<section id="content">

			<ul id="homenav">
				<li><a href="/all">all</a></li>
				<li><a href="/authors">authors</a></li>
				<li><a href="/random">random thought</a></li>
				<li><a href="/about">search</a></li>
			</ul>
		</section>

	</body>

<footer id="bigfoot">
<blockquote cite="/t/671">
	<q>Music is spiritual. The music business is not.</q>
	<cite><a href="/t/671">Van Morrison</a></cite>
</blockquote>


</footer>


</html>
